@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap");
body{
    font-family: "Roboto", sans-serif;
}
#NavBar {
    padding-left: 100px;
}
#navbarSupportedContent {
    padding-left: 100px;
}
#home {
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 30px;
    display: flex;
    background-color: rgb(240, 240, 236);
    max-height: fit-content;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#intro1 {
    font-size: 34px;
    font-style: normal;
}