@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap");
#NavBar {
    padding-left: 100px;
}
#navbarSupportedContent {
    padding-left: 100px;
}
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.title{
    text-align: center;
}
.body2{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #fff;

}
.container{
    max-width: 700px;
    width: 100%;
    
    padding: 25px 30px ; 
    border-radius: 5px;
    background-color: rgb(240, 240, 236);

}
.container .title{
    font-size: 25px;
    font-weight: 600;
}
.container form .user-details{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    margin: 20px 0 20px 0;

}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;


}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px ;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}
.user-details .input-box input:focus,
.user-details .input-box input:focus{
    border-color: orangered;
}
form .button{
    height: 45px;
    margin: 45px 0;
    color: white;
}

form .button input{
    height: 100%;
    width: 100%;
    border: none;
    font-size:18px ;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    outline: none;
    color: orange;
    color: rgb(243, 119, 36);
    
}
form .button input:hover{
    color: orangered;

}
@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
       
        width: 100%;
    }
    .container form .user-details{
    
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}

