*{
    align-items: center;
    align-content: center;
}
#container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#itemsList{
    padding-top: 75px;
    
}
.btn-nav{

    display: flex;
    justify-content: center;
    padding: auto;
}
#event{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#btnhover:hover{
    background-color: aquamarine;
}
input{
    width:200px ;
}


